{# This is the template for the main page.

Arguments
---------
    runs: list of GSRun objects, containing the currently available runs
    gene_annotations: list of GSGeneAnnotation objects
    go_annotations: list of GSGOAnnotation objects

#}

{% extends "base.html" %}
{% block content %}
<h2>GO-PCA Server</h2>
{# <p><a href="?new=1">New Session</a></p> #}
<h3>Runs</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Submission Time (UTC)</th>
        <th>Description</th>
        <th>Species</th>
        <th>Status</th>
        <th></th></tr>
    {% for r in runs %}
    <tr>
        <td><a href="/runs/{{r.id}}">{{ r.id|truncate(10,True) }}</a></td> {{# see http://jinja.pocoo.org/docs/dev/templates/#truncate #}}
        <td>{{r.submit_time_html}}</td><td>{{r.description}}</td>
        <td>{{r.species}}</td>
        <td>{{r.status_html}}</td>
        <td><form action="delete-run" method="post"><input type="hidden" name="run_id" value="{{r.id}}"/><input type="submit" value="delete"/></form></td>
    </tr>
    {#      <td>{{ds.description}}</td><td>{{ds.species}}</td></tr> #}
    {% endfor %}

</table>

<h3>New Run</h3>
<form action="gopca" method="post">
    <label for="description">Description: </label><input type="text" name="Description" id="description" size=50/><br/>
    <br/>
    <label for="expression">Expression File (URL): </label><input type="text" size=100 maxlength=2000  id="expression" name="expression" value="https://www.dropbox.com/s/vjfovywu2omobti/dmap_expression.tsv?dl=1"/><br/>
    <br/>
    <label for="species">Species: </label>
    <select name="species" id="species">
        {% for s in species %}
        <option value={{s}}>{{s}}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <fieldset>
        <legend>Gene annotations</legend>
        <select name="gene_annotation">
            {% for a in gene_annotations %}
            <option value={{a.name}}>{{a.name}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <br/>
    <fieldset>
        <legend>GO Annotations</legend>
        <select name="go_annotation">
            {% for a in go_annotations %}
            <option value={{a.name}}>{{a.name}}</option>
            {% endfor %}
        </select>
        <br/><br/>
        <input type="text" size=10 name="go_min_genes" value="5"/>Min. number of genes per GO term<br/>
        <input type="text" size=10 name="go_max_genes" value="200"/>Max. number of genes per GO term<br/>
        <br/>
        <fieldset>
            <legend>Select Evidence</legend>
            {# default: ['IDA','IGI','IMP','ISO','ISS','IC','NAS','TAS'] #}
            
            <input type="checkbox" name="go_evidence" value="EXP" id="EXP"/><label for="EXP">EXP - Inferred from Experiment</label><br/>
            <input type="checkbox" name="go_evidence" value="IDA" id="IDA" checked="checked"/>IDA - Inferred from Direct Assay<br/>
            <input type="checkbox" name="go_evidence" value="IPI" id="IPI"/>IPI - Inferred from Physical Interaction<br/>
            <input type="checkbox" name="go_evidence" value="IMP" id="IMP" checked="checked"/>IMP - Inferred from Mutant Phenotype<br/>
            <input type="checkbox" name="go_evidence" value="IGI" id="IGI" checked="checked"/>IGI - Inferred from Genetic Interaction<br/>
            <input type="checkbox" name="go_evidence" value="IEP" id="IEP"/>IEP - Inferred from Expression Pattern<br/>
            <br/>
            <input type="checkbox" name="go_evidence" value="ISS" id="ISS" checked="checked"/>ISS - Inferred from Sequence or Structural Similarity<br/>
            <input type="checkbox" name="go_evidence" value="ISO" id="ISO" checked="checked"/>ISO - Inferred from Sequence Orthology<br/>
            <input type="checkbox" name="go_evidence" value="ISA" id="ISA"/>ISA - Inferred from Sequence Alignment<br/>
            <input type="checkbox" name="go_evidence" value="ISM" id="ISM"/>ISM - Inferred from Sequence Model<br/>
            <input type="checkbox" name="go_evidence" value="IGC" id="IGC"/>IGC - Inferred from Genomic Context<br/>
            <input type="checkbox" name="go_evidence" value="IBA" id="IBA"/>IBA - Inferred from Biological Aspect of Ancestor<br/>
            <input type="checkbox" name="go_evidence" value="IBD" id="IBD"/>IBD - Inferred from Biological Aspect of Descendant<br/>
            <input type="checkbox" name="go_evidence" value="IKR" id="IKR"/>IKR - Inferred from Key Residues<br/>
            <input type="checkbox" name="go_evidence" value="IRD" id="IRD"/>IRD - Inferred from Rapid Divergence<br/>
            <input type="checkbox" name="go_evidence" value="RCA" id="RCA"/>RCA - Inferred from Reviewed Computational Analysis<br/>
            <br/>
            <input type="checkbox" name="go_evidence" value="NAS" id="NAS" checked="checked"/>NAS - Non-traceable Author Statement<br/>
            <input type="checkbox" name="go_evidence" value="TAS" id="TAS" checked="checked"/>TAS - Traceable Author Statement<br/>
            <input type="checkbox" name="go_evidence" value="IC" id="IC" checked="checked"/>IC - Inferred by Curator<br/>
            <br/>
            <input type="checkbox" name="go_evidence" value="IEA" id="IEA"/>IEA - Inferred from Electronic Annotation<br/>
        </fieldset>
        <br/>
    </fieldset>
    <br/>
    <input type="submit" value="Submit Job"/>
</form>

{#
<h3>Gene Annotations</h3>
<table>
    <tr><th>Name</th></tr>
    {% for a in gene_annotations %}
    <tr><td>{{a.name}}</a></td></tr>
    {% endfor %}
</table>

<h3>GO Annotations</h3>
<table>
    <tr><th>Name</th></tr>
    {% for a in go_annotations %}
    <tr><td>{{a.name}}</a></td></tr>
    {% endfor %}
</table>
#}

<!-- <form action="submit" method="post">
<input type="hidden" name="session_id" value="{{session_id}}"/>
<input type="submit" value="Submit Job"/>
</form> //-->

<h3>Update Annotation Data</h3>

<form action="update-gene-annotations" method="post">
<input type="submit" value="Update gene annotations"/>
</form>

<form action="update-go-annotations" method="post">
<input type="submit" value="Update GO annotations"/>
</form>


{% endblock %}
