{# This is the template for generating the HTML backbone.

Arguments
---------
    title: the web site title

    timestamp: time stamp, used to prevent caching of the CSS file

 #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}} - GO-PCA Server</title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" 
                href="/static/mystyle.css?{{timestamp}}"/>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            <hr/>
            Copyright &copy; 2015 Florian Wagner, Razvan Panea
            {% endblock %}
        </div>
    </body>
</html>
