{# This is the template for the main page.

Arguments
---------
    jobs: list of GSJob objects, containing the currently available jobs
    gene_annotations: list of GSGeneAnnotation objects
    go_annotations: list of GSGOAnnotation objects

#}

{% extends "base.html" %}
{% block content %}
<h2>GO-PCA Server</h2>
{# <p><a href="?new=1">New Session</a></p> #}
<h3>Jobs</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Submission Time (UTC)</th>
        <th>Description</th>
        <th>Species</th>
        <th>Status</th>
        <th></th></tr>
    {% for j in jobs %}
    <tr>
        <td><a href="/job/{{j.id}}">{{ r.id|truncate(10,True) }}</a></td> {# see http://jinja.pocoo.org/docs/dev/templates/#truncate #}
        <td>{{j.submit_time_html}}</td><td>{{j.description}}</td>
        <td>{{j.species}}</td>
        <td>{{j.status_html}}</td>
        <td>
            <form action="delete-job" method="post">
                <input type="hidden" name="run_id" value="{{j.id}}"/>
                <input type="submit" value="delete"/>
            </form>
        </td>
    </tr>
    {#      <td>{{ds.description}}</td><td>{{ds.species}}</td></tr> #}
    {% endfor %}

</table>

<h3>New Run</h3>
<form action="gopca" method="post">
    <label for="description">Description: </label><input type="text" name="description" id="description" size=50/><br/>
    <br/>
    <label for="expression">Expression File (URL): </label><input type="text" size=100 maxlength=2000  id="expression" name="expression" value="https://www.dropbox.com/s/vjfovywu2omobti/dmap_expression.tsv?dl=1"/><br/>
    <br/>
    <label for="species">Species: </label>
    <select name="species" id="species">
        {% for s in species %}
        <option value={{s}}>{{s}}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <fieldset>
        <legend>Gene annotations</legend>
        <select name="gene_annotation">
            {% for a in gene_annotations %}
            <option value={{a.name}}>{{a.name}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <legend>GO annotations</legend>
        <select name="go_annotation">
            {% for a in go_annotations %}
            <option value={{a.name}}>{{a.name}}</option>
            {% endfor %}
        </select>
        <br/><br/>
        <input type="text" size=10 name="go_min_genes" id="go_min_genes" value="5"/> <label for="go_min_genes">Min. number of genes per GO term</label><br/>
        <input type="text" size=10 name="go_max_genes" id="go_max_geneS" value="200"/> <label for="go_max_genes">Max. number of genes per GO term</label><br/>
        <br/>
        <fieldset>
            <legend>Select Evidence</legend>
            {# default: ['IDA','IGI','IMP','ISO','ISS','IC','NAS','TAS'] #}
            
            <input type="checkbox" name="go_evidence" value="EXP" id="EXP"/>
            <label for="EXP">EXP - Inferred from Experiment</label><br/>
            <input type="checkbox" name="go_evidence" value="IDA" id="IDA" checked="checked"/>IDA - Inferred from Direct Assay<br/>
            <input type="checkbox" name="go_evidence" value="IPI" id="IPI"/>IPI - Inferred from Physical Interaction<br/>
            <input type="checkbox" name="go_evidence" value="IMP" id="IMP" checked="checked"/>IMP - Inferred from Mutant Phenotype<br/>
            <input type="checkbox" name="go_evidence" value="IGI" id="IGI" checked="checked"/>IGI - Inferred from Genetic Interaction<br/>
            <input type="checkbox" name="go_evidence" value="IEP" id="IEP"/>IEP - Inferred from Expression Pattern<br/>
            <br/>
            <input type="checkbox" name="go_evidence" value="ISS" id="ISS" checked="checked"/>ISS - Inferred from Sequence or Structural Similarity<br/>
            <input type="checkbox" name="go_evidence" value="ISO" id="ISO" checked="checked"/>ISO - Inferred from Sequence Orthology<br/>
            <input type="checkbox" name="go_evidence" value="ISA" id="ISA"/>ISA - Inferred from Sequence Alignment<br/>
            <input type="checkbox" name="go_evidence" value="ISM" id="ISM"/>ISM - Inferred from Sequence Model<br/>
            <input type="checkbox" name="go_evidence" value="IGC" id="IGC"/>IGC - Inferred from Genomic Context<br/>
            <input type="checkbox" name="go_evidence" value="IBA" id="IBA"/>IBA - Inferred from Biological Aspect of Ancestor<br/>
            <input type="checkbox" name="go_evidence" value="IBD" id="IBD"/>IBD - Inferred from Biological Aspect of Descendant<br/>
            <input type="checkbox" name="go_evidence" value="IKR" id="IKR"/>IKR - Inferred from Key Residues<br/>
            <input type="checkbox" name="go_evidence" value="IRD" id="IRD"/>IRD - Inferred from Rapid Divergence<br/>
            <input type="checkbox" name="go_evidence" value="RCA" id="RCA"/>RCA - Inferred from Reviewed Computational Analysis<br/>
            <br/>
            <input type="checkbox" name="go_evidence" value="NAS" id="NAS" checked="checked"/>NAS - Non-traceable Author Statement<br/>
            <input type="checkbox" name="go_evidence" value="TAS" id="TAS" checked="checked"/>TAS - Traceable Author Statement<br/>
            <input type="checkbox" name="go_evidence" value="IC" id="IC" checked="checked"/>IC - Inferred by Curator<br/>
            <br/>
            <input type="checkbox" name="go_evidence" value="IEA" id="IEA"/>IEA - Inferred from Electronic Annotation<br/>
        </fieldset>
    </fieldset>
    <fieldset>
        <legend>GO-PCA</legend>
        <input type="text" size="5" name="n_components" id="n_components" value="0">
        <label for="n_components"> Number of PCs to test <i>D</i> (0 = determine automatically)</label><br/>
        <input style="margin-left: 2em" type="text" size="15" name="pc_seed" id="pc_seed" value="123456789">
        <label for="pc_seed"> Random number generator seed (if D=0)</label><br/>
        <input style="margin-left: 2em" type="text" size="5" name="pc_permutations" id="pc_permutations" value="15">
        <label for="pc_permutations"> Number of permutations (if D=0)</label><br/>
        <input style="margin-left: 2em" type="text" size="5" name="pc_zscore_thresh" id="pc_zscore_thresh" value="2.0">
        <label for="pc_zscore_thresh"> Z-score threshold (if D=0)</label><br/>
        <input type="text" size="5" name="sel_var_genes" id="sel_var_genes" value="0">
        <label for="sel_var_genes"> Select the <i>G</i> most variable genes (0 = off)</label><br/>
        <input type="text" size="5" name="pval_thresh" id="pval_thresh" value="1e-6">
        <label for="pval_thresh"> P-value threshold <i>P</i></label><br/>
        <input type="text" size="5" name="escore_thresh" id="escore_thresh" value="2.0">
        <label for="escore_thresh"> E-score threshold <i>E</i></label><br/>
        <input type="text" size="5" name="mHG_X_frac" id="mHG_X_frac" value="0.25">
        <label for="mHG_X_frac"> <i>X<sub>frac</sub></i> (for XL-mHG)</label><br/>
        <input type="text" size="5" name="mHG_X_min" id="mHG_X_min" value="5">
        <label for="mHG_X_min"> <i>X<sub>min</sub></i> (for XL-mHG)</label><br/>
        <input type="text" size="5" name="mHG_L" id="mHG_L" value="1000">
        <label for="mHG_L"> <i>L</i> (for XL-mHG)</label><br/>
        <input type="text" size="5" name="psi" id="psi" value="1e-4">
        <label for="psi"> <i>ψ</i> (for E-score calculation)</label><br/>
        <input type="checkbox" name="disable_local" value="1" id="disable_local">
        <label for="disable_local"> Disable "local" filter</label><br/>
        <input type="checkbox" name="disable_global" value="1" id="disable_global">
        <label for="disable_global"> Disable "global" filter</label><br/>
        <input type="text" size="5" name="sig_corr_thresh" id="sig_corr_thresh" value="0.5">
        <label for="sig_corr_thresh"> Signature correlation threshold <i>R</i></label><br/>
        <input type="checkbox" name="go_part_of_cc_only" value="1" id="part_of_cc_only">
        <label for="go_part_of_cc_only">Ignore "part of" GO term relations outside of CC domain</label><br/>
    </fieldset>

    <input type="submit" value="Submit Job"/>
</form>

{#
<h3>Gene Annotations</h3>
<table>
    <tr><th>Name</th></tr>
    {% for a in gene_annotations %}
    <tr><td>{{a.name}}</a></td></tr>
    {% endfor %}
</table>

<h3>GO Annotations</h3>
<table>
    <tr><th>Name</th></tr>
    {% for a in go_annotations %}
    <tr><td>{{a.name}}</a></td></tr>
    {% endfor %}
</table>
#}

<!-- <form action="submit" method="post">
<input type="hidden" name="session_id" value="{{session_id}}"/>
<input type="submit" value="Submit Job"/>
</form> //-->

<h3>Update Annotation Data</h3>

<form action="update-gene-annotations" method="post">
<input type="submit" value="Update gene annotations"/>
</form>

<form action="update-go-annotations" method="post">
<input type="submit" value="Update GO annotations"/>
</form>


{% endblock %}
