{# This is the template for generating the HTML backbone.

Arguments
---------
	title: the web site title

	timestamp: time stamp, used to prevent caching of the CSS file

 #}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<link rel="stylesheet" type="text/css" 
				href="/static/mystyle.css?{{timestamp}}">
		<title>{{title}} - GO-PCA Server</title>
	</head>
	<body>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			<hr/>
			Copyright &copy; 2015 Florian Wagner
			{% endblock %}
		</div>
	</body>
</html>

