{# This is the template for the main page.

Arguments
---------
	runs: list of GSRun objects, containing the currently available runs
	gene_annotations: list of GSGeneAnnotation objects
	go_annotations: list of GSGOAnnotation objects

#}

{% extends "base.html" %}
{% block content %}
<h2>GO-PCA Server</h2>
<p class="test">Session ID:</p><pre>{{session_id}}</pre>
{% if new != "1" %}
{# we're not starting a new session - include a link to do so #}
<p><a href="?new=1">New Session</a></p>
{% endif %}
<h3>Runs</h3>
<table>
	<tr><th>ID</th><th>Description</th><th>Species</th><th></th></tr>
	{% for id_ in runs %}
	<tr><td><a href="/runs/{{id_}}">{{id_}}</a></td><td></td><td></td>
		<td><form action="delete-run" method="post"><input type="hidden" name="run_id" value="{{id_}}"/><input type="submit" value="delete"/></form></td>
	</tr>
	{#		<td>{{ds.description}}</td><td>{{ds.species}}</td></tr> #}
	{% endfor %}

</table>

<h3>New Job</h3>
<form action="gopca" method="post">
	<p>Gene annotations</p>
	<select name="gene_annotation">
		{% for a in gene_annotations %}
		<option value={{a.name}}>{{a.name}}</option>
		{% endfor %}
	</select>
	<br/>
	<p>GO annotations</p>
	<select name="go_annotation">
		{% for a in go_annotations %}
		<option value={{a.name}}>{{a.name}}</option>
		{% endfor %}
	</select>
	<br/><br/>
	<input type="hidden" name="session_id" value="{{session_id}}"/>
	<input type="submit" value="Submit Job"/>
</form>

{#
<h3>Gene Annotations</h3>
<table>
	<tr><th>Name</th></tr>
	{% for a in gene_annotations %}
	<tr><td>{{a.name}}</a></td></tr>
	{% endfor %}
</table>

<h3>GO Annotations</h3>
<table>
	<tr><th>Name</th></tr>
	{% for a in go_annotations %}
	<tr><td>{{a.name}}</a></td></tr>
	{% endfor %}
</table>
#}

<!-- <form action="submit" method="post">
<input type="hidden" name="session_id" value="{{session_id}}"/>
<input type="submit" value="Submit Job"/>
</form> //-->

<h3>Update Annotation Data</h3>

<form action="update-gene-annotations" method="post">
<input type="submit" value="Update gene annotations"/>
</form>

<form action="update-go-annotations" method="post">
<input type="submit" value="Update GO annotations"/>
</form>


{% endblock %}
